.footer
  ul.footer-links.pull-right
    li
      a.icon-home(href='/')
    li
      a.icon-edit(href='/visi')
    li
      a.icon-camera-retro(href='/kegiatan')
    li
      a.icon-user(href='/tentang')
  p      
    | Designed by 
    a(target='_blank') Jipaw
    | . Find this project on 
    a: i.icon-github-alt.icon-large(href='#')
    br
    | You may also find me on 
    a: i.icon-facebook.icon-large(href='#')
    |  . Credit : 
