.navbar.navbar-fixed-top.navbar-inverse.main-nav
  .navbar-inner
    .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') PAUD Uswatun Hasanah
      .nav-collapse.collapse
        ul.nav.pull-right
          li
            a.icon-home.icon-2x(href='/',  title='Beranda')
          li
            a.icon-edit.icon-2x(href='/visi', title="Visi Misi")
          li
            a.icon-camera-retro.icon-2x(href='/galeri', title="Galeri")
          li
            a.icon-user.icon-2x(href='/tentang', title="Tentang Kami")
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              b.caret
            ul.dropdown-menu
              li
                a(href="#loginModal", data-toggle='modal', data-target='#loginModal')
                  i.icon-signin 
                    |  Login
              li
                a(href="#signUpModal", data-toggle='modal', data-target='#signUpModal')
                  i.icon-reply
                    |  Sign Up
        // /.nav-collapse
        // /.container
