html
  body
    #loginModal.modal.hide.fade.smallModal
      form#login-form.form-horizontal(action='/login', method='post')
        .modal-header
          a.close(data-dismiss='modal')
          h3 Log In
        .modal-body
          fieldset
            .control-group
              input.input-xlarge.uname(type='text', name='username', placeholder='Username')
              span#imagePlaceHolder
            .control-group
              input.input-xlarge(type='password', name='password', placeholder='Password')
        .modal-footer
          a.btn(href='#', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Log In

