@import url('reset.css');

/* General Site Style */
body{
  height: 100%;
	background:#1F1F1F url(../images/site/pattern.png) repeat top left;
	color:#fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
  text-align: justify;
}

/* Wrapper for page content  */
#wrap   {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}


/* Large desktop */
@media (min-width: 1201px) { 
  body {
    padding: 0 3em 0 3em;  
  }
  #carousel-main, #visi, #galeri, #tentang {
    margin-top: 4em;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    padding: 0 2em 0 2em;  
  }  
  #carousel-main, #visi, #galeri, #tentang {
    margin-top: 3em;
  }
}
    
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body {
    padding: 0 1em 0 1em;  
  }
  #carousel-main, #visi, #galeri, #tentang {
    margin-top: 1em;
  }
  .header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
}
     
/* Landscape phones and down */
@media (max-width: 480px) { 
  body {
    padding: 0 0,25em 0 0,25em;  
  }  
  #carousel-main, #visi, #galeri, #tentang {
    margin-top: 0,25em;
  }
}

/* Link Style */
a {
	color:#ddd;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}

/* h tag */
h1{
	margin:5px;
	font-size:24px;
	text-align:center;
	color:#fff;
	font-family:"Pacifico", Georgia, "Times New Roman", serif;
	text-shadow:1px 1px 1px #000;
	padding-bottom:10px;
	line-height:40px;
}
h1 span{
	font-size:10px;
	display:block;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	color:#00c6e3;
	line-height:14px;
	padding-top:10px;
	text-shadow:none;
	text-transform:uppercase;
}

/* Modal */
.modal .modal-header h4 {
  font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
  color: #6378df;
  font-size:16px;
  font-weight:bold;
}
.modal .modal-body label {
  font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
  color: #6378df;
	text-align:left;
  font-weight: bold;
  }

/* Tweak navbar brand link 
-------------------------------------------------- */

/* Change the docs' brand */
 .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
 .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
#nav a {
  padding-left: 20px;
  padding-right: 20px;
}


/*Responsive image */
.img-responsive {
  max-height: 100%;
  height: auto;
}

/* Footer
-------------------------------------------------- */
.footer {
  height: 60px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Bottom padding */
#beranda, #visi, #galeri, #tentang {
  padding-bottom: 20px;
}

/* Remove ul style */
#visi ul {
  list-style-type: none;
}


