extends layout
block content
   
        #tentang.container.div(style='padding-top: 4em;')
          h1 Tentang Kami
          .row
            .span-one-third  
            .span-one-third
              strong
                | Airport Transfers are available
                br
                | Tours can be organised by Villa Staff
                br
                | Motor Scooters are available for Hire
                br
                | In-house massages can be arranged
 
    
