extends layout
block content
      #kegiatan.container.div(style='padding-top: 4em;')
        h1 Kegiatan
        .row
            .span-one-third 
              | Deskripsi kegiatan yang dilakukan
              br
              | Deskripsi kegiatan yang dilakukan
              br
              | Deskripsi kegiatan yang dilakukan
              br
              | Deskripsi kegiatan yang dilakukan

        .cycle-slideshow(data-cycle-pause-on-hover='true', data-cycle-timeout='2000')
          // empty element for overlay
          .cycle-overlay
          img(src='/images/kegiatan/1.jpg', data-cycle-title='Kegiatan 1', data-cycle-desc='Deskripsi kegiatan 1')
          img(src='/images/kegiatan/2.jpg', data-cycle-title='Kegiatan 2', data-cycle-desc='Deskripsi kegiatan 2')
          img(src='/images/kegiatan/3.jpg', data-cycle-title='Kegiatan 3', data-cycle-desc='Deskripsi kegiatan 3')
          img(src='/images/kegiatan/4.jpg', data-cycle-title='Kegiatan 4', data-cycle-desc='Deskripsi kegiatan 4') 
    
