!!! 5
html
  head
    title My Paud
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='/stylesheets/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/demo-slideshow.css', rel='stylesheet', media='screen')
  body
    block content


    // JavaScript plugins (requires jQuery)
    script(src='/javascripts/jquery.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/stylesheets/bootstrap/dist/js/bootstrap.min.js')
    // Optionally enable responsive features in IE8
    script(src='/stylesheets/bootstrap/dist/js/respond.min.js')
    //jquery cycle2 plugin
    script(src='/javascripts/jquery.cycle2.min.js')
    script(src='/javascripts/jquery.cycle2.caption2.min.js')
      //site footer
  


