extends layout
block content
  include modals/navbar
  include modals/loginModal
  include modals/signUpModal
  #visi.container
    h1 Visi Misi
    hr
    .row
      .container
        h3 Visi
        ul.text-primary
          h5
              b"MEMBANGUN PENDIDIKAN USIA DINI YANG BERWAWASAN MASA DEPAN DAN BERAKHLAQUL KARIMAH" 
        h3 Misi 
        ul
          li
            i.icon-double-angle-right
            | Menjadikan setiap kegiatan bernilai ibadah 
          li
            i.icon-double-angle-right
            | Mengembangkan iklim belajar yang menyenangkan, berwawasan luas yang berakar pada norma dan nilai-nilai budaya bangsa 
          li
            i.icon-double-angle-right
            | Mengembangkan keterampilan belajar pada tiap diri siswa 
          li
            i.icon-double-angle-right
            | Memberdayakan seluruh potensi sekolah untuk memberikan mutu pelayanan yang maksimal 
        h3 Maksud dan Tujuan 
        ul
          li
            i.icon-screenshot
            | Membina dan membimbing anak usia dini agar dapat tumbuh dan berkembang secara optimal sesuai dengan potensi dan kemampuan masing-masing anak.
          li
            i.icon-screenshot
            | Membantu anak dari keluarga pra-sejahtera guna memperoleh pelayanan pendidikan anak usia dini.
          li
            i.icon-screenshot 
            | Memberi kesadaran bagi orang tua dan masyarakat umum akan pentingnya pendidikan anak usia dini. 
          li
            i.icon-screenshot
            | Membina para orang tua pra-sejahtera melalui program pendampingan agar memiliki keterampilan mendidik anak usia dini dengan baik dan memperhatikan potensi anak. 
  include modals/footer
block scripts
  // JavaScript plugins (requires jQuery)
  script(src='/javascripts/jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/javascripts/bootstrap/bootstrap-modal.js')
  script(src='/javascripts/bootstrap/bootstrap-dropdown.js')
  script(src='/javascripts/bootstrap/bootstrap-carousel.js')
  script(src='/javascripts/bootstrap/bootstrap-collapse.js')
  script(src='/javascripts/bootstrap/bootstrap-transition.js')
  script(src='/javascripts/bootstrap/bootstrap-tooltip.js')
  script(src='/javascripts/bootstrap/respond.min.js')
    //jquery cycle plugin
  script(src='/javascripts/transition.js')
  script(src='/javascripts/prettify.js')
