extends layout
block content
 
        #visi.container.div(style='padding-top: 4em;')
          h1(style='text-align:center') Visi Misi
          .row
            .span6
              h3 Visi 
              ul.text-primary
                h5
                    b"MEMBANGUN PENDIDIKAN USIA DINI YANG BERWAWASAN MASA DEPAN DAN BERAKHLAQUL KARIMAH" 
              h3 Misi 
              ul.text-primary
                li Menjadikan setiap kegiatan bernilai ibadah 
                li Mengembangkan iklim belajar yang menyenangkan, berwawasan luas yang berakar pada norma dan nilai-nilai budaya bangsa 
                li Mengembangkan keterampilan belajar pada tiap diri siswa 
                li Memberdayakan seluruh potensi sekolah untuk memberikan mutu pelayanan yang maksimal 
              h3 Maksud dan Tujuan 
              ul.text-primary
                li Membina dan membimbing anak usia dini agar dapat tumbuh dan berkembang secara optimal sesuai dengan potensi dan kemampuan masing-masing anak.
                li Membantu anak dari keluarga pra-sejahtera guna memperoleh pelayanan pendidikan anak usia dini.
                li Memberi kesadaran bagi orang tua dan masyarakat umum akan pentingnya pendidikan anak usia dini. 
                li Membina para orang tua pra-sejahtera melalui program pendampingan agar memiliki keterampilan mendidik anak usia dini dengan baik dan memperhatikan potensi anak. 
    
