#carousel-main.carousel.slide
  ol.carousel-indicators
    li.active(data-target='#carousel-main', data-slide-to='0')
    li(data-target='#carousel-main', data-slide-to='1')
    li(data-target='#carousel-main', data-slide-to='2')
  .carousel-inner
    .item.active
      img.img-rounded(src='/images/carousel/1a.jpg', alt='First slide')
      .carousel-caption
        h4 Ceria
        p Ada banyak hal indah yang dapat kau temukan.
    .item
      img.img-rounded(src='/images/carousel/2a.jpg', alt='Second slide')
      .carousel-caption
        h4 Bermain
        p Hidup dengan cara yang menyenangkan ialah tujuan.
    .item
      img.img-rounded(src='/images/carousel/3a.jpg', alt='Third slide')
      .carousel-caption
        h4 Belajar
        p Semakin banyak kau belajar, akan semakin banyak hal yang tidak kau ketahui
  a.left.carousel-control(href='#carousel-main', data-slide='prev') &lsaquo;
  a.right.carousel-control(href='#carousel-main', data-slide='next') &rsaquo;

 
    
