#sidebar.column(style= 'margin-top: 4em')
  h3 Content
  ul.toogle
    li.icn_new_article
      a(href='#') New Article
    li.icn_new_article
      a(href='#') New Article
  h3 Users
  ul.toogle
    li.icn_add_user
      a(href='#') Add new user
    li.icn_view_user
      a(href='#') View user

